@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: #a8eb12;
}

body {
    width: 100%;
    height: 100vh;
   background-color: #1b1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    height: 90vh;
    border-radius: 1em;
    border: 2px solid yellowgreen;
}

.calendar {
    width: 100%;
    height: 100%;
    display: flex;
}

.calendar-left-section {
    width: 70%;
    height: 100%;
    color: #fff;
}

.left-section-wrapper{
    width: 100%;
    height: 30%;
    padding: 40px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.weekdays{
    width: 100%;
    height: 10%;
    border-top: 1px solid #666;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 7px 0px;
    font-size: 1em;
}
#currDay{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: 2px solid #a8eb12;
     background-color:#1b1c1c;
     cursor: pointer;
}
select{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #a8eb12;
    background: transparent;
    outline: none;
    background-color:#1b1c1c;
    padding: 2px;
    cursor: pointer;
}
.days{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 500;
    padding: 10px 0px;
}

.days div{
    width: 14.28%;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px;
    transition: all 0.4s;
}

.days div:hover{
    
    cursor: pointer;
}

.prev_date {
    color: #999;
}

.today{
    background-color:lawngreen;
    color: #0e1921;
 border-radius: 10px;
}

#month,
#month-date{
    margin-bottom: 5px;
    font-weight: 300;
}

#month{
    font-size: 2em;
}

.prev,
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: all 0.4s;
}

.prev:hover,
.next:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.calendar-right-section {
    width: 30%;
    height: 100%;
}

.right-section-wrapper {
    width: 100%;
    height: 40%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.time-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.event-section {
    width: 100%;
    height: 60%;
    padding: 40px 30px;
    position: relative;
}

.event-heading {
    text-align: center;
    font-size: 1.2em;
}
.location-section{
    margin-bottom: 7px;
}
.temperature-section{
    margin-bottom: 7px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
    }

    .calendar {
        margin: 50% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .calendar-left-section {
        font-size: 1em;
        width: 100%;
        height: auto;
        font-weight: 300;
    }

    .calendar-right-section {
        width: 100%;
        height: auto;
        border-top: 2px solid #666;
    }

    .right-section-wrapper {
        display: flex;
        padding: 5px 15px;
    }
}
